:root {
  --primary-color: #ef9f26;
  --secodary-color: rgb(236 231 88);
  --third-color: rgb(200 196 68);
  --brown: rgb(236, 155, 88);
}

body{
  background: linear-gradient(transparent, var(--third-color)),
  url("bgimage.jpg");
  margin: 0;
  background-size: cover;
}
header {
  background: var(--secodary-color);
  padding: 0.5rem;
    text-align: center;
}

h1 {
  padding: 2rem;
  margin: 0px;
}
#content{
  max-width: 700px;
    margin: auto;
}
#tArea {
  display: block;
    height: 20vh;
    width: 80%;
    margin: 2rem auto;
    border: 2px solid black;
    padding: 1rem;
    font-size: large;
}

#output {
  display: block;
    height: 20vh;
    width: 80%;
    margin: 2rem auto;
    border: 2px solid black;
    padding: 1rem;
    font-size: large;
    background-color: white;
}

#btn-ins{
  display: block;
    text-align: -webkit-center;
}

#btn {
  background: var(--secodary-color);
  border-radius: 1rem;
  border: white;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  text-align: center;
  margin: 1rem;
  font-size: larger;
}

footer {
    text-align: center;
    width: 100%;
    background-color: var(--secodary-color);
    padding: 0.5rem 0rem;
}


#para {
  max-width: 700px;
    margin: auto;
}
#para p{
  margin: 0;
}

#info {
  font-size: smaller;
}
#info p{
  margin: 0;
}

